<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info"  name="MyConfiguration">
    <Properties>
        <Property name="basePath">logs</Property>
        <Property name="pattern">%highlight{[%-5p] %d{HH:mm:ss} [%-.20t] [%c] - %m%n}{Style=Logback}</Property>
    </Properties>

    <Appenders>
        <File name="FILE_SERVER"   fileName="${basePath}/server.log" append="false">
            <PatternLayout>
                <pattern>${pattern}</pattern>
<!--                <disableAnsi>false</disableAnsi>-->
            </PatternLayout>
        </File>

        <File name="NETTY_SERVER" append="false" fileName="${basePath}/netty_server.log">
            <PatternLayout>
                <pattern>${pattern}</pattern>
                <!--                <disableAnsi>false</disableAnsi>-->
            </PatternLayout>
        </File>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${pattern}</pattern>
                <disableAnsi>false</disableAnsi>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE_SERVER"/>
        </Root>
        <Logger name="io.netty" level="TRACE" additivity="false">
            <AppenderRef ref="NETTY_SERVER"/>
        </Logger>>
<!--        <Logger name="ru.igojig.server.ServerApp" level="debug"/>-->
<!--        <Logger name="ru.igojig.server.service.AuthService" level="error"/>-->
    </Loggers>
</Configuration>